extends ./layout.jade

block content          
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header
            | Bootstrap Grid
          |                         
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              |   
              a(href='home') Dashboard
            |                             
            li.active
              i.fa.fa-wrench
              |  Bootstrap Grid
      // /.row
      .row
        .col-lg-12.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-12
      // /.row
      .row
        .col-lg-6.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-6
        |                     
        .col-lg-6.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-6
      // /.row
      .row
        .col-lg-4.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-4
        |                     
        .col-lg-4.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-4
        |                     
        .col-lg-4.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-4
      // /.row
      .row
        .col-lg-3.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-3
        |                     
        .col-lg-3.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-3
        |                     
        .col-lg-3.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-3
        |                     
        .col-lg-3.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-3
      // /.row
      .row
        .col-lg-2.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-2
        |                     
        .col-lg-2.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-2
        |                     
        .col-lg-2.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-2
        |                     
        .col-lg-2.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-2
        |                     
        .col-lg-2.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-2
        |                     
        .col-lg-2.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-2
      // /.row
      .row
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
        |                     
        .col-lg-1.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-1
      // /.row
      .row
        .col-lg-8.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-8
        |                     
        .col-lg-4.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-4
      // /.row
      .row
        .col-lg-3.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-3
        |                     
        .col-lg-6.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-6
        |                     
        .col-lg-3.text-center
          .panel.panel-default
            .panel-body
              | .col-lg-3
