//- Navigation
nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  //- Brand and toggle get grouped for better mobile display
  include ./header
  //- Top Menu Items
  include ./navbar-right
  //- Sidebar
  include ./sidebar