extends ./layout.jade

block content 
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header
            | Blank Page
            small Subheading
          |                         
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              |   
              a(href='home') Dashboard
            |                             
            li.active
              i.fa.fa-file
              |  Blank Page
