//- using http://startbootstrap.com/template-overviews/sb-admin/

doctype html(lang='en')
html
  head
    include ./includes/head
    block head
  body
    #wrapper
      include ./includes/navigation
      |  
      block content
    include ./includes/footer
    block footer