doctype html
html
  head
    meta(charset='UTF-8')
    title 404
  body
    div(style='text-align:center;')
      h1 Uh-Oh! (404 error)
    img(src='/public/imgs/404.jpg', alt='Page Not Found (404).', style='position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -100px;')
