//- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
.collapse.navbar-collapse.navbar-ex1-collapse
  ul.nav.navbar-nav.side-nav
    li(class=(title === 'Home' ? 'active' : ''))
      a(href='home')
        i.fa.fa-fw.fa-dashboard
        |  Dashboard
    |                     
    li
      a(href='charts')
        i.fa.fa-fw.fa-bar-chart-o
        |  Charts
    |                     
    li
      a(href='tables')
        i.fa.fa-fw.fa-table
        |  Tables
    |                     
    li
      a(href='forms')
        i.fa.fa-fw.fa-edit
        |  Forms
    |                     
    li
      a(href='bootstrap-elements')
        i.fa.fa-fw.fa-desktop
        |  Bootstrap Elements
    |                     
    li
      a(href='bootstrap-grid')
        i.fa.fa-fw.fa-wrench
        |  Bootstrap Grid
    |                     
    li
      a(href='javascript:;', data-toggle='collapse', data-target='#demo')
        i.fa.fa-fw.fa-arrows-v
        |  Dropdown 
        i.fa.fa-fw.fa-caret-down
      |                         
      ul#demo.collapse
        li
          a(href='#') Dropdown Item
        |                             
        li
          a(href='#') Dropdown Item
    |                     
    li
      a(href='blank-page')
        i.fa.fa-fw.fa-file
        |  Blank Page
    |                     
    li
      a(href='index-rtl')
        i.fa.fa-fw.fa-dashboard
        |  RTL Dashboard